.titlle h1:hover {
    color: red;

}

.contato h2:hover {
    color: red;
    
}

.perfil h2:hover {
    color: red;
    
}

.educacao h2:hover {
    color: red;
    
}

.habilidades h2:hover {
    color: red;
    
}

.experiencias h2:hover {
    color: red;
    
}